@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

.h{
    border: 1px solid red;
}

.nav::after{
    content: "";
    width: 0;
    height: 1px;
    background: #14e225e2;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}
.nav:hover::after{
    width: 100%;
}
.nav{
    position: relative;
}
.nav:hover{
    color: hsl(39, 96%, 51%);
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #7791b3;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.753);
}